@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* @import url(''); */

/* Initialize CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    min-height: 100vh;
}

.light-bg {
    background-color: #FAEBEF;
}

.light-ft {
    color: #FAEBEF;
}

.light-border {
    border: 2px solid #FAEBEF;
}

.light-border-thin {
    border: 1px solid #FAEBEF;
    padding: .5rem;
}

.dark-bg {
    background-color: #333D79;
}

.dark-ft {
    color: #333D79;
}

.dark-border {
    border: 2px solid #333D79;
}

.dark-border-thin {
    border: 1px solid #333D79;
    padding: .5rem;
}

.ft-bold {
    font-weight: 700;
}

.center-txt {
    text-align: center;
}

.custom-bullet {
    list-style-type: none;
}

.ft-75 {
    font-size: .75rem;
}

@media screen and (max-width: 360px) and (orientation: portrait) {
    html {
        font-size: 16px;
    }

    body {
        padding-top: 10vh;
    }

    .image-source {
        padding: 0 .5rem;
    }

    /* HEADER */

    header {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        height: 10vh;
        z-index: 100;
    }
    
    .navbar svg {
        position: absolute;
        top: 0;
        right: 0;
        height: 2rem;  /* .nav-menu top & .switch height */
        width: 2rem;
        cursor: pointer;
        margin: 1rem .25rem; /* .switch margin */
    }

    .nav-menu {
        position: absolute;
        top: calc(2rem + 1rem + 1rem); /* .switch height  + .switch top-bottom margin */
        right: 0;
        left: 0;
        display: none;
    }

    .nav-menu.active {
        display: block;
    }

    .nav-menu a {
        display: block;
        text-align: center;
        padding: 1rem 0;
    }

    /* NOTE this is if website title in header */
    /* .website-title {
        font-size: 1.25rem;
        text-align: center; */
        /* -webkit-text-stroke: #333D79 1px; */
        /* margin-top: .5rem;
        line-height: 1.5rem;
        position: absolute;
        top: 0; */
        /* right: calc(3.5rem + .5rem); */ /* .navbar svg width + .navbar svg right & left margin */
        /* left: calc(3.5rem + .5rem); */ /* .switch width + .switch right & left margin */
    /* } */

    /* MAIN */

    main {
        margin-bottom: 10vh;
    }

    .section-subtitle {
        font-size: 1.25rem;
        margin: 2rem 0 0 0;
    }

    /* MAIN #home */

    /* NOTE this is if website title use shrink animation */
    .website-title-shrink {
        font-size: 1.25rem;
        text-align: center;
        /* -webkit-text-stroke: #333D79 1px; */
        margin-top: .5rem;
        line-height: 1.5rem;
        position: fixed;
        top: 0;
        left: 50%;
        transform: translateX(-50%); /*move left half of its own width*/
        z-index: 1000;
        /* right: calc(3.5rem + .5rem); /* .navbar svg width + .navbar svg right & left margin */
        /* left: calc(3.5rem + .5rem); .switch width + .switch right & left margin */
    }

    .shrink-container {
        width: 100%;
        height: 100vh;
    }

    .home-banner-image {
        position: relative;
        width: 100vw;
    }

    .home-banner-image img {
        width: 100%;
    }

    .home-banner-image span{
        position: absolute;
        bottom: 1rem;
        left: 1rem;
        font-size: .75rem;
    }

    /* MAIN #how-to-help */

    #how-to-help {
        margin: 0 5vw;
    }

    #how-to-help li {
        /* list-style-type: none; */
        margin: .5rem 0;
    }

    #how-to-help .help-cards {
        padding: 1rem;
    }

    #how-to-help .help-cards ul li svg {
        margin-right: .5rem;
    }

    #how-to-help .help-form-container {
        margin-top: 3rem;
    }

    #how-to-help .pledge-form-title {
        margin-bottom: 1rem;
    }

    #pledge-form,
    #pledge-thank-you {
        padding: 1rem;
    }

    #pledge-form .pledge-third-left .pledge-third-right {
        display: grid;
    }

    #pledge-form .pledge-third,
    #pledge-form .pledge-fourth {
        margin: 2rem 0;
    }

    #pledge-form input[type="text"],
    #pledge-form input[type="email"] {
        width: 100%;
        font-size: 1rem;
    }

    #pledge-form input[type="checkbox"],
    #pledge-form input[type="radio"] {
        margin-right: .5rem;
    }

    .pledge-fifth {
        display: flex;
        justify-content: space-around;
    }

    #pledge-form .pledge-fifth input[type="reset"],
    #pledge-form .pledge-fifth input[type="submit"] {
        padding: .5rem 1rem;
        border-radius: .5rem;
    }

    #pledge-form .pledge-fifth input[type="submit"] {
        border: 0;
    }

    /* MAIN #resources */

    #resources {
        margin: 0 5vw;
    }

    #resources .resource-container{
        margin-bottom: 2rem;
    }

    #resources li {
        /* list-style-type: none; */
        margin: .5rem 0;
    }

    #resources .resource-title-wrapper {
        padding: 0 .5rem;
        position: relative;
    }

    #resources .resource-title-wrapper .resource-title-dropdown-icon {
        width: 10%;
        position: absolute;
        top: 0;
        bottom: 0;
        right: .5rem;
        cursor: pointer;
    }

    #resources .resource-title-wrapper .resource-title-dropdown-icon svg {
        width: 100%;
        height: 100%;
    }

    #resources .resource-list {
        padding: 1rem;
    }

    #resources .resource-list ul li svg {
        margin-right: .5rem;
    }

    #resources .resource-list ul li .documentary-iframe {
        width: 100%;
    }

    #resources .resource-list ul li .documentary-iframe .video-frame {
        width: 100%;
    }

    /* MAIN #contact-us */

    #contact-us {
        margin: 0 5vw;
    }

    #contact-form,
    #contact-thank-you {
        padding: 1rem;
    }

    #contact-form input[type="text"],
    #contact-form input[type="email"],
    #contact-form textarea {
        width: 100%;
        font-size: 1rem;
    }

    #contact-form textarea {
        height: 10rem;
        resize: vertical;
        font-size: 1rem;
    }

    .contact-third {
        display: flex;
        justify-content: space-around;
        margin-top: 2rem;
    }

    #contact-form .contact-third input[type="reset"],
    #contact-form .contact-third input[type="submit"] {
        padding: .5rem 1rem;
        border-radius: .5rem;
    }

    #contact-form .contact-third input[type="submit"] {
        border: 0;
    }

    /* FOOTER */
    footer {
        font-size: .7rem;
    }
}