@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* @import url(''); */

/* Initialize CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.light-bg {
    background-color: #FAEBEF;
}

.light-ft {
    color: #FAEBEF;
}

.light-border {
    border: 1px solid #FAEBEF;
}

.dark-bg {
    background-color: #333D79;
}

.dark-ft {
    color: #333D79;
}

.dark-border {
    border: 1px solid #333D79;
}

@media screen and (max-width: 360px) and (orientation: portrait) {
    html {
        font-size: 16px;
    }

    .header {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
    }
    
    .navbar svg {
        position: fixed;
        top: 0;
        right: 0;
        height: 2rem;  /* .nav-menu top & .switch height */
        width: 2rem;
        cursor: pointer;
        margin: .5rem .25rem; /* .switch margin */
    }

    .nav-menu {
        position: fixed;
        top: calc(2rem + .5rem); /* .navbar svg height  + .navbar svg bottom margin */
        right: 0;
        left: 0;
        display: none;
    }

    .nav-menu.active {
        display: block;
    }

    .nav-menu a {
        display: block;
        text-align: center;
        padding: 1rem 0;
    }

    .website-title {
        font-size: 1.25rem;
        font-weight: 700;
        text-align: center;
        -webkit-text-stroke: #333D79 1px;
        line-height: 1.5rem;
        position: fixed;
        top: 0;
        right: calc(2rem + .5rem); /* .navbar svg width + .navbar svg right & left margin */
        left: calc(4rem + .5rem); /* .switch width + .switch right & left margin */
    }
}